@model IEnumerable<IntegratedCircuit>

<h1>here are some common ICs</h1>

@if (!Model.Any())
{
    <div>There are no items to show.</div>
}

<ul>
    @foreach (var ic in Model)
    {
        <li>
            @ic.Code - @ic.Description
        </li>
    }
</ul>